@model SortedDictionary<string, string>

<section>
	<ul>
		@foreach (var (key, value) in Model ?? Enumerable.Empty<KeyValuePair<string, string>>())
		{
			<li>@key - @value</li>
		}
	</ul>
</section>
